main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.asd {
  width: 380px;
}
header {
  width: 100%;
  box-sizing: border-box;
  background-color: #004884;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  padding: 1% 0;
}
.mainimage {
}
.header2 {
  background-color: #fafafa;
  padding-top: 0px;
  padding-bottom: 10px;
}

footer {
  width: 100vw;
  background-color: #004884;
  padding: 4% 1%;
}

p,
b {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: white;
  line-height: 5px;
}
